In [1]:
import pandas as pd

In [4]:
# Read data into pandas df 
crowdfunding_data = pd.ExcelFile('crowdfunding.xlsx')

# Get sheet names 
crowdfunding_data.sheet_names

['crowdfunding_info', 'contact_info']

In [5]:
# Get the crowdfunding_info from the crowdfunding_info worksheet 
crowdfunding_info_df = pd.read_excel(crowdfunding_data, sheet_name = 'crowdfunding_info')
crowdfunding_info_df.head()

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays

In [8]:
# Get the contact_info from the contact_info worksheet 
# Increase the width of the column 

pd.set_option('max_colwidth', 400)
contact_info_df = pd.read_excel(crowdfunding_data, sheet_name='contact_info', header=2)
contact_info_df.head()

0                                                                               contact_info
1   {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
2          {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
3            {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
4  {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}

In [9]:
crowdfunding_info_df.tail()

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
995,2986,Manning-Hamilton,Vision-oriented scalable definition,97300,153216,successful,2043,US,USD,1609221600,1622350800,False,True,food/food trucks
996,2031,Butler LLC,Future-proofed upward-trending migration,6600,4814,failed,112,US,USD,1634274000,1638252000,False,False,theater/plays
997,1627,Ball LLC,Right-sized full-range throughput,7600,4603,canceled,139,IT,EUR,1636174800,1639116000,False,False,theater/plays
998,2175,"Taylor, Santiago and Flores",Polarized composite customer loyalty,66600,37823,failed,374,US,USD,1602133200,1618117200,False,True,music/indie rock
999,1788,"Hernandez, Norton and Kelley",Expanded eco-centric policy,111100,62819,canceled,1122,US,USD,1609308000,1629262800,False,False,food/food trucks

In [10]:
crowdfunding_info_df.sample(n=5)

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
863,936,Davis-Johnson,Automated reciprocal protocol,1400,5415,successful,217,US,USD,1598072400,1627966800,False,True,film & video/television
327,2413,"Patterson, Salinas and Lucas",Digitized 3rdgeneration encoding,2600,1002,failed,33,US,USD,1586494800,1618462800,False,True,theater/plays
156,174,Meza-Rogers,Streamlined encompassing encryption,36400,26914,canceled,379,AU,AUD,1606197600,1640498400,False,False,music/rock
40,462,"Garcia, Garcia and Lopez",Reduced stable middleware,8800,14878,successful,198,US,USD,1605679200,1616043600,False,True,technology/wearables
954,201,"Henderson, Parker and Diaz",Enterprise-wide client-driven policy,42600,156384,successful,1548,AU,AUD,1626670800,1638511200,False,False,technology/web

In [11]:
contact_info_df.tail()

996                    {"contact_id": 3684, "name": "Whitney Noack", "email": "whitney.noack@laboratorios.org"}
997              {"contact_id": 5784, "name": "Gelsomina Migliaccio", "email": "gelsomina.migliaccio@junk.com"}
998   {"contact_id": 1498, "name": "Evangelista Pereira", "email": "evangelista.pereira@thompson-peterson.biz"}
999                        {"contact_id": 6073, "name": "Gareth Comolli", "email": "gareth.comolli@tiscali.fr"}
1000                {"contact_id": 4939, "name": "Michelangelo Hess", "email": "michelangelo.hess@bouygtel.fr"}

In [12]:
contact_info_df.sample(n=6)

637  {"contact_id": 5177, "name": "Douglas Amaya", "email": "douglas.amaya@favata-brenna.net"}
607      {"contact_id": 2816, "name": "Rosario Jacques", "email": "rosario.jacques@yahoo.com"}
642    {"contact_id": 3838, "name": "Marco Vittadello", "email": "marco.vittadello@gmail.com"}
538        {"contact_id": 4436, "name": "Sylvia Bonomo", "email": "sylvia.bonomo@poulain.com"}
128     {"contact_id": 5873, "name": "Donald Reynaud", "email": "donald.reynaud@green.edu.au"}
795      {"contact_id": 3607, "name": "Cristal Mazzini", "email": "cristal.mazzini@gmail.com"}